.list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.listItem {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.listItem:hover {
  transform: translateY(-5px); /* Легке підняття при наведенні */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.moviesName {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.moviesName:hover {
  color: #007bff;
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Для менших екранів зменшуємо колонки */
  }
}
